.footer{
    padding-top: 30px;
    padding-bottom: 15px;
    background: #000;
}

.footer-wrap{
    margin: auto;
}

.footer-icons-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 317px;
    margin: auto;
}
.footer-icons i{
    font-size: 23px;
    color: rgb(170, 170, 170);
    transition: 0.4s;
}
.footer-text{
    margin-top: 18px;
}
.footer-text p{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}